<div class="card">
    <div class="card-header">
        <img src="https://assets.compramass.com/products/{{product.ean}}@3x.jpg" style="width: 100%;" height="auto" alt="">
    </div>
    <div class="card-body">
        <div>
            <div>
                <p class="product-name">{{product.name}}</p>
                <p class="product-price">{{product.price | currency:'COP':'symbol-narrow': '1.0-0'}}</p>
            </div>
        </div>
        <div >
            <button class="app-button">
                Comprar
            </button>
        </div>
    </div>
</div>