/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.app-button {
    background-color:#5ea9ff;
    color: #dce3e8;
    height: 90px;
    border-radius: 10px;
    border: 0;
}